.after-dashboard {
  background-color: var(--theme-success-500);
  border: 1px solid var(--theme-success-800);
  color: var(--theme-success-800);
  padding: var(--base);

  p {
    margin-bottom: 0;
  }
}
